input[type=text], select {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
} 

textarea{
  max-width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  word-wrap: break-word;

}

input[type=color] {
  width: 100%; /* Full width */
  cursor:pointer;
  height: 3em;
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */ 
 
  resize: vertical /*Allow the user to vertically resize the textarea (not horizontally) */

}

label{
  padding-left: 12px;
  padding-top: 5px;
  margin: 5px;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  width: 10%;
  align-items: center;
} 

body {
  background-color: #f4f6fd;
  /* background: linear-gradient(#5c6a9a 10%, #384f9a 100%); */
}

#button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

#clear {
  background-color: red;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
} 

#copy {
  background-color: green;
  color: white;
  padding: 12px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  display: inline;
  flex-direction: column;
  justify-content: center;
 
  background-color: #f2f2f2;
  margin-bottom: 15px;
  width: 100%;
  
}
.styled-table {
  border-collapse: collapse;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
caption {
  font-size: 1.6em;
  font-weight: 400;
  padding: 10px 0;
}

/* #table-div{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x:auto;
}  */

#form{
  margin-bottom: 20px;
  /* outline:invert; */
 display: flex;
 flex-direction: column;
 justify-content: center;
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  color: rgb(17, 29, 41);
  width: 100%;
}

#headerH1{
  text-align: center;
  color:rgb(30, 57, 83);
}


@media  screen and (max-width: 768px) {
  #body {
  width: 845px;
  }
 
 
}





  

  

